In [1]:
import pandas as pd

In [2]:
!mkdir data
!wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/jakarta.csv
!wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/bogor.csv
!wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/bekasi.csv
dfJ = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
dfB = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
dfX = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')

mkdir: cannot create directory ‘data’: File exists
--2022-09-28 05:22:49--  https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/jakarta.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 63832 (62K) [text/plain]
Saving to: ‘data/jakarta.csv.3’

jakarta.csv.3       100%[===================>]  62.34K  --.-KB/s    in 0.01s

2022-09-28 05:22:49 (5.34 MB/s) - ‘data/jakarta.csv.3’ saved [63832/63832]

--2022-09-28 05:22:49--  https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/bogor.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 68006 (66K) [text/plain]
Saving to: ‘data/bogor.csv.3’

bogor.csv.3         100%[===================>]  66.41K  --.-KB/s    in 0.01s

2022-09-28 05:22:49 (5.53 MB/s) - ‘data/bogor.csv.3’ saved [68006/68006]

--2022-09-28 05:22:49--  https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/bekasi.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 71038 (69K) [text/plain]
Saving to: ‘data/bekasi.csv.3’

bekasi.csv.3        100%[===================>]  69.37K  --.-KB/s    in 0.01s

2022-09-28 05:22:50 (5.60 MB/s) - ‘data/bekasi.csv.3’ saved [71038/71038]

In [3]:
jakarta, bogor, bekasi = dfJ, dfB, dfX

In [4]:
jakarta

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,06-12-2021,202.0,198.0,8.0,3.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02-12-2021,30.0,55.0,2.0,1.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06-12-2021,19.0,35.0,2.0,1.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06-12-2021,33.0,42.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06-12-2021,30.0,55.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
jakarta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   121 non-null    object
 1   LT           121 non-null    float64
 2   LB           121 non-null    float64
 3   KT           121 non-null    float64
 4   KM           121 non-null    float64
 5   garasi       44 non-null     float64
 6   carport      90 non-null     float64
 7   lokasi       121 non-null    object
 8   sertifikat   119 non-null    object
 9   listrik      120 non-null    float64
 10  hadap        36 non-null     object
 11  harga        121 non-null    float64
 12  URL          121 non-null    object
 13  deskripsi    112 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 208.1+ KB

In [6]:
bekasi

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,08-12-2021,71.0,43.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,08-12-2021,59.0,60.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08-12-2021,124.0,95.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,08-12-2021,144.0,100.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,08-12-2021,108.0,100.0,3.0,2.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bekasi = bekasi.dropna(how='all')
bekasi.transpose()

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
created_at,08-12-2021,08-12-2021,08-12-2021,08-12-2021,08-12-2021,08-12-2021,08-12-2021,07-12-2021,07-12-2021,06-12-2021,...,01-12-2021,01-12-2021,01-12-2021,01-12-2021,01-12-2021,01-12-2021,01-12-2021,01-12-2021,01-12-2021,01-12-2021
LT,71.0,59.0,124.0,144.0,108.0,160.0,144.0,336.0,119.0,102.0,...,65.0,156.0,320.0,144.0,108.0,180.0,140.0,60.0,36.0,60.0
LB,43.0,60.0,95.0,100.0,100.0,230.0,157.0,200.0,170.0,132.0,...,105.0,150.0,300.0,180.0,47.0,220.0,250.0,55.0,60.0,55.0
KT,2.0,2.0,2.0,2.0,3.0,4.0,3.0,4.0,5.0,3.0,...,3.0,7.0,3.0,4.0,2.0,5.0,3.0,2.0,2.0,2.0
KM,1.0,1.0,1.0,1.0,2.0,4.0,3.0,3.0,3.0,2.0,...,2.0,2.0,3.0,3.0,1.0,3.0,2.0,1.0,1.0,1.0
garasi,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
carport,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,...,1.0,NaN,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
lokasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kota Bekasi,...,Kota Bekasi,Kota Bekasi,Kota Bekasi,Kota Bekasi,Kota Bekasi,Kota Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi,Kabupaten Bekasi
sertifikat,SHM,SHM,SHM,SHM,SHM,SHM,HGB,HGB,SHM,SHM,...,SHM,HGB,SHM,SHM,SHM,SHM,SHM,SHM,SHM,SHM
listrik,1300.0,NaN,NaN,2200.0,2200.0,5500.0,2200.0,5500.0,2200.0,1300.0,...,2200.0,2200.0,2200.0,4400.0,1300.0,2200.0,2200.0,1300.0,1300.0,1300.0
hadap,NaN,NaN,NaN,Selatan,Timur,Selatan,Selatan,NaN,NaN,NaN,...,NaN,Timur,NaN,NaN,NaN,NaN,Selatan,NaN,Timur,NaN
harga,550000000.0,440000000.0,699000000.0,1350000000.0,1400000000.0,1850000000.0,2100000000.0,4200000000.0,975000000.0,685000000.0,...,1190000000.0,1200000000.0,2500000000.0,2690000000.0,1000000000.0,1600000000.0,850000000.0,250000000.0,300000000.0,250000000.0
URL,Rumah murah di metland cibitung bekasi - Dijua...,Rumah dijual di Griya gandasari cibitung - Dij...,Jual cepat rumah huuk di metland cibitung beka...,https://www.realoka.com/216243-rumah-rapi-siap...,https://www.realoka.com/207964-jual-rumah-bagu...,https://www.realoka.com/208348-rumah-luas-hada...,https://www.realoka.com/215784-rumah-cluster-a...,https://www.99.co/id/properti/rumah-cluster-pa...,https://www.99.co/id/properti/rumah-riviera-de...,https://www.rumah123.com/properti/bekasi/hos92...,...,https://www.realoka.com/221877-alif-premiere-r...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...,https://www.rumah123.com/properti/bekasi/hos92...
deskripsi,"Selangkah ke stasiun krl telaga murni, Dekat d...","Rumah sangat nyaman,dan terbukti bebas banjir,...","Bebas banjir, Carport dan tanah luas ada taman...",(Harapan Indah) Cluster Aralia Kota Harapan In...,(Harapan Indah) Cluster Harmoni Perumahan Kota...,(Harapan Indah) Cluster Aralia Perumahan Kota ...,"(Harapan Indah) Cluster Asera One South, Perum...","Harga Rp 4,2 Miliyar ( Nego ); Luas Tanah 336 ...",Rp 975 Jt 2 Lantai Luas Tanah 119 m Luas Bangu...,"Rumah Siap Huni Aman dan Nyaman, lingkungan ya...",...,Rumah Exclusive 3 lantai. Lokasi Sangat Strate...,Dijual Rumah Taman Wisma Asri 2 Teluk Pucung B...,Luas tanah 320m; Luas bangunan 300m; 2 Lantai;...,Rumah cantik furmished dan renovasi di asera o...,"Rumah siap,di salah satu cluster grand wisata,...",Akses pintu tol Bekasibarat; Dekat Mall Summar...,"DIJUAL RUMAH, Taman Kebalen bekasi cluster, Ju...","Di jual Rumah Lelang Bank Pondok Ungu Permai, ...","Lokasi Super Strategis, Selangkah menuju Kota ...",RCG/20/V/010 MP/LB/THM/010 Di jual Rumah Lelan...
Unnamed: 14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
 bekasi = bekasi.iloc[:, :14]

In [9]:
bekasi = bekasi.drop_duplicates()
bekasi

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi
0,08-12-2021,71.0,43.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,1300.0,NaN,5.500000e+08,Rumah murah di metland cibitung bekasi - Dijua...,"Selangkah ke stasiun krl telaga murni, Dekat d..."
1,08-12-2021,59.0,60.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,NaN,4.400000e+08,Rumah dijual di Griya gandasari cibitung - Dij...,"Rumah sangat nyaman,dan terbukti bebas banjir,..."
2,08-12-2021,124.0,95.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,NaN,NaN,6.990000e+08,Jual cepat rumah huuk di metland cibitung beka...,"Bebas banjir, Carport dan tanah luas ada taman..."
3,08-12-2021,144.0,100.0,2.0,1.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,Selatan,1.350000e+09,https://www.realoka.com/216243-rumah-rapi-siap...,(Harapan Indah) Cluster Aralia Kota Harapan In...
4,08-12-2021,108.0,100.0,3.0,2.0,NaN,1.0,Kabupaten Bekasi,SHM,2200.0,Timur,1.400000e+09,https://www.realoka.com/207964-jual-rumah-bagu...,(Harapan Indah) Cluster Harmoni Perumahan Kota...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,01-12-2021,180.0,220.0,5.0,3.0,NaN,NaN,Kota Bekasi,SHM,2200.0,NaN,1.600000e+09,https://www.rumah123.com/properti/bekasi/hos92...,Akses pintu tol Bekasibarat; Dekat Mall Summar...
103,01-12-2021,140.0,250.0,3.0,2.0,NaN,NaN,Kabupaten Bekasi,SHM,2200.0,Selatan,8.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"DIJUAL RUMAH, Taman Kebalen bekasi cluster, Ju..."
104,01-12-2021,60.0,55.0,2.0,1.0,NaN,NaN,Kabupaten Bekasi,SHM,1300.0,NaN,2.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"Di jual Rumah Lelang Bank Pondok Ungu Permai, ..."
105,01-12-2021,36.0,60.0,2.0,1.0,NaN,NaN,Kabupaten Bekasi,SHM,1300.0,Timur,3.000000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"Lokasi Super Strategis, Selangkah menuju Kota ..."
106,01-12-2021,60.0,55.0,2.0,1.0,NaN,NaN,Kabupaten Bekasi,SHM,1300.0,NaN,2.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,RCG/20/V/010 MP/LB/THM/010 Di jual Rumah Lelan...

In [10]:
bekasi.garasi = bekasi.garasi.fillna(value=0)
bekasi.carport = bekasi.carport.fillna(value=0)

In [11]:
bekasi.drop('sertifikat',axis=1,inplace=True)

In [12]:
bekasi.drop('hadap',axis=1,inplace=True)

In [13]:
bekasi.info

<bound method DataFrame.info of      created_at     LT     LB   KT   KM  garasi  carport            lokasi  \
0    08-12-2021   71.0   43.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi
1    08-12-2021   59.0   60.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi
2    08-12-2021  124.0   95.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi
3    08-12-2021  144.0  100.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi
4    08-12-2021  108.0  100.0  3.0  2.0     0.0      1.0  Kabupaten Bekasi
..          ...    ...    ...  ...  ...     ...      ...               ...
102  01-12-2021  180.0  220.0  5.0  3.0     0.0      0.0       Kota Bekasi
103  01-12-2021  140.0  250.0  3.0  2.0     0.0      0.0  Kabupaten Bekasi
104  01-12-2021   60.0   55.0  2.0  1.0     0.0      0.0  Kabupaten Bekasi
105  01-12-2021   36.0   60.0  2.0  1.0     0.0      0.0  Kabupaten Bekasi
106  01-12-2021   60.0   55.0  2.0  1.0     0.0      0.0  Kabupaten Bekasi

     listrik         harga                                                URL  \
0     1300.0  5.500000e+08  Rumah murah di metland cibitung bekasi - Dijua...
1        NaN  4.400000e+08  Rumah dijual di Griya gandasari cibitung - Dij...
2        NaN  6.990000e+08  Jual cepat rumah huuk di metland cibitung beka...
3     2200.0  1.350000e+09  https://www.realoka.com/216243-rumah-rapi-siap...
4     2200.0  1.400000e+09  https://www.realoka.com/207964-jual-rumah-bagu...
..       ...           ...                                                ...
102   2200.0  1.600000e+09  https://www.rumah123.com/properti/bekasi/hos92...
103   2200.0  8.500000e+08  https://www.rumah123.com/properti/bekasi/hos92...
104   1300.0  2.500000e+08  https://www.rumah123.com/properti/bekasi/hos92...
105   1300.0  3.000000e+08  https://www.rumah123.com/properti/bekasi/hos92...
106   1300.0  2.500000e+08  https://www.rumah123.com/properti/bekasi/hos92...

                                             deskripsi
0    Selangkah ke stasiun krl telaga murni, Dekat d...
1    Rumah sangat nyaman,dan terbukti bebas banjir,...
2    Bebas banjir, Carport dan tanah luas ada taman...
3    (Harapan Indah) Cluster Aralia Kota Harapan In...
4    (Harapan Indah) Cluster Harmoni Perumahan Kota...
..                                                 ...
102  Akses pintu tol Bekasibarat; Dekat Mall Summar...
103  DIJUAL RUMAH, Taman Kebalen bekasi cluster, Ju...
104  Di jual Rumah Lelang Bank Pondok Ungu Permai, ...
105  Lokasi Super Strategis, Selangkah menuju Kota ...
106  RCG/20/V/010 MP/LB/THM/010 Di jual Rumah Lelan...

[107 rows x 12 columns]>

In [14]:
bekasi.describe()

,LT,LB,KT,KM,garasi,carport,listrik,harga
count,107.000000,107.000000,107.000000,106.000000,107.000000,107.00000,101.000000,1.070000e+02
mean,108.822430,110.635514,2.962617,1.943396,0.336449,0.82243,2056.435644,1.074823e+09
std,59.164914,71.755270,1.027226,0.848867,0.531000,0.52867,969.578861,7.516152e+08
min,36.000000,30.000000,1.000000,1.000000,0.000000,0.00000,900.000000,1.600000e+08
25%,72.000000,60.000000,2.000000,1.000000,0.000000,1.00000,1300.000000,5.805000e+08
50%,91.000000,90.000000,3.000000,2.000000,0.000000,1.00000,2200.000000,9.200000e+08
75%,130.500000,144.000000,4.000000,2.750000,1.000000,1.00000,2200.000000,1.350000e+09
max,364.000000,494.000000,7.000000,4.000000,2.000000,2.00000,5500.000000,4.500000e+09

In [15]:
bekasi

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga,URL,deskripsi
0,08-12-2021,71.0,43.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,1300.0,5.500000e+08,Rumah murah di metland cibitung bekasi - Dijua...,"Selangkah ke stasiun krl telaga murni, Dekat d..."
1,08-12-2021,59.0,60.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,NaN,4.400000e+08,Rumah dijual di Griya gandasari cibitung - Dij...,"Rumah sangat nyaman,dan terbukti bebas banjir,..."
2,08-12-2021,124.0,95.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,NaN,6.990000e+08,Jual cepat rumah huuk di metland cibitung beka...,"Bebas banjir, Carport dan tanah luas ada taman..."
3,08-12-2021,144.0,100.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2200.0,1.350000e+09,https://www.realoka.com/216243-rumah-rapi-siap...,(Harapan Indah) Cluster Aralia Kota Harapan In...
4,08-12-2021,108.0,100.0,3.0,2.0,0.0,1.0,Kabupaten Bekasi,2200.0,1.400000e+09,https://www.realoka.com/207964-jual-rumah-bagu...,(Harapan Indah) Cluster Harmoni Perumahan Kota...
...,...,...,...,...,...,...,...,...,...,...,...,...
102,01-12-2021,180.0,220.0,5.0,3.0,0.0,0.0,Kota Bekasi,2200.0,1.600000e+09,https://www.rumah123.com/properti/bekasi/hos92...,Akses pintu tol Bekasibarat; Dekat Mall Summar...
103,01-12-2021,140.0,250.0,3.0,2.0,0.0,0.0,Kabupaten Bekasi,2200.0,8.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"DIJUAL RUMAH, Taman Kebalen bekasi cluster, Ju..."
104,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.0,2.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"Di jual Rumah Lelang Bank Pondok Ungu Permai, ..."
105,01-12-2021,36.0,60.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.0,3.000000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"Lokasi Super Strategis, Selangkah menuju Kota ..."
106,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.0,2.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,RCG/20/V/010 MP/LB/THM/010 Di jual Rumah Lelan...

In [16]:
print(bekasi.isnull().sum())

created_at    0
LT            0
LB            0
KT            0
KM            1
garasi        0
carport       0
lokasi        0
listrik       6
harga         0
URL           0
deskripsi     0
dtype: int64

In [17]:
bekasi.listrik = bekasi.listrik.fillna(value=bekasi.listrik.mean())

In [18]:
bekasi.KM = bekasi.KM.fillna(value=bekasi.KM.mean())
print(bekasi.isnull().sum())

created_at    0
LT            0
LB            0
KT            0
KM            0
garasi        0
carport       0
lokasi        0
listrik       0
harga         0
URL           0
deskripsi     0
dtype: int64

In [19]:
bekasi

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga,URL,deskripsi
0,08-12-2021,71.0,43.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,1300.000000,5.500000e+08,Rumah murah di metland cibitung bekasi - Dijua...,"Selangkah ke stasiun krl telaga murni, Dekat d..."
1,08-12-2021,59.0,60.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,4.400000e+08,Rumah dijual di Griya gandasari cibitung - Dij...,"Rumah sangat nyaman,dan terbukti bebas banjir,..."
2,08-12-2021,124.0,95.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,6.990000e+08,Jual cepat rumah huuk di metland cibitung beka...,"Bebas banjir, Carport dan tanah luas ada taman..."
3,08-12-2021,144.0,100.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.350000e+09,https://www.realoka.com/216243-rumah-rapi-siap...,(Harapan Indah) Cluster Aralia Kota Harapan In...
4,08-12-2021,108.0,100.0,3.0,2.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.400000e+09,https://www.realoka.com/207964-jual-rumah-bagu...,(Harapan Indah) Cluster Harmoni Perumahan Kota...
...,...,...,...,...,...,...,...,...,...,...,...,...
102,01-12-2021,180.0,220.0,5.0,3.0,0.0,0.0,Kota Bekasi,2200.000000,1.600000e+09,https://www.rumah123.com/properti/bekasi/hos92...,Akses pintu tol Bekasibarat; Dekat Mall Summar...
103,01-12-2021,140.0,250.0,3.0,2.0,0.0,0.0,Kabupaten Bekasi,2200.000000,8.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"DIJUAL RUMAH, Taman Kebalen bekasi cluster, Ju..."
104,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"Di jual Rumah Lelang Bank Pondok Ungu Permai, ..."
105,01-12-2021,36.0,60.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,3.000000e+08,https://www.rumah123.com/properti/bekasi/hos92...,"Lokasi Super Strategis, Selangkah menuju Kota ..."
106,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08,https://www.rumah123.com/properti/bekasi/hos92...,RCG/20/V/010 MP/LB/THM/010 Di jual Rumah Lelan...

In [20]:
bekasi.groupby('garasi').count()

,created_at,LT,LB,KT,KM,carport,lokasi,listrik,harga,URL,deskripsi
garasi,,,,,,,,,,,
0.0,74,74,74,74,74,74,74,74,74,74,74
1.0,30,30,30,30,30,30,30,30,30,30,30
2.0,3,3,3,3,3,3,3,3,3,3,3

In [21]:
bekasi.groupby('listrik').count()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,harga,URL,deskripsi
listrik,,,,,,,,,,,
900.000000,4,4,4,4,4,4,4,4,4,4,4
1300.000000,35,35,35,35,35,35,35,35,35,35,35
2056.435644,6,6,6,6,6,6,6,6,6,6,6
2200.000000,53,53,53,53,53,53,53,53,53,53,53
3300.000000,1,1,1,1,1,1,1,1,1,1,1
3500.000000,1,1,1,1,1,1,1,1,1,1,1
4400.000000,3,3,3,3,3,3,3,3,3,3,3
5500.000000,4,4,4,4,4,4,4,4,4,4,4

In [22]:
bekasi.drop('URL',axis=1,inplace=True)
bekasi.drop('deskripsi',axis=1,inplace=True)
bekasi

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
0,08-12-2021,71.0,43.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,1300.000000,5.500000e+08
1,08-12-2021,59.0,60.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,4.400000e+08
2,08-12-2021,124.0,95.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,6.990000e+08
3,08-12-2021,144.0,100.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.350000e+09
4,08-12-2021,108.0,100.0,3.0,2.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.400000e+09
...,...,...,...,...,...,...,...,...,...,...
102,01-12-2021,180.0,220.0,5.0,3.0,0.0,0.0,Kota Bekasi,2200.000000,1.600000e+09
103,01-12-2021,140.0,250.0,3.0,2.0,0.0,0.0,Kabupaten Bekasi,2200.000000,8.500000e+08
104,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08
105,01-12-2021,36.0,60.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,3.000000e+08
106,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08

In [23]:
bekasi.groupby('created_at').count()

            LT  LB  KT  KM  garasi  carport  lokasi  listrik  harga
created_at
01-12-2021  11  11  11  11      11       11      11       11     11
02-12-2021   8   8   8   8       8        8       8        8      8
03-12-2021  15  15  15  15      15       15      15       15     15
04-12-2021  19  19  19  19      19       19      19       19     19
05-12-2021  15  15  15  15      15       15      15       15     15
06-12-2021  30  30  30  30      30       30      30       30     30
07-12-2021   2   2   2   2       2        2       2        2      2
08-12-2021   7   7   7   7       7        7       7        7      7

In [24]:
bekasi

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
0,08-12-2021,71.0,43.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,1300.000000,5.500000e+08
1,08-12-2021,59.0,60.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,4.400000e+08
2,08-12-2021,124.0,95.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,6.990000e+08
3,08-12-2021,144.0,100.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.350000e+09
4,08-12-2021,108.0,100.0,3.0,2.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.400000e+09
...,...,...,...,...,...,...,...,...,...,...
102,01-12-2021,180.0,220.0,5.0,3.0,0.0,0.0,Kota Bekasi,2200.000000,1.600000e+09
103,01-12-2021,140.0,250.0,3.0,2.0,0.0,0.0,Kabupaten Bekasi,2200.000000,8.500000e+08
104,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08
105,01-12-2021,36.0,60.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,3.000000e+08
106,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08

In [25]:
jakarta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   121 non-null    object
 1   LT           121 non-null    float64
 2   LB           121 non-null    float64
 3   KT           121 non-null    float64
 4   KM           121 non-null    float64
 5   garasi       44 non-null     float64
 6   carport      90 non-null     float64
 7   lokasi       121 non-null    object
 8   sertifikat   119 non-null    object
 9   listrik      120 non-null    float64
 10  hadap        36 non-null     object
 11  harga        121 non-null    float64
 12  URL          121 non-null    object
 13  deskripsi    112 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 208.1+ KB

In [26]:
jakarta = jakarta.dropna(how='all')

In [27]:
jakarta = jakarta.iloc[:, :14]

In [28]:
jakarta = jakarta.drop_duplicates()
jakarta

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi
0,06-12-2021,202.0,198.0,8.0,3.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,NaN,4.500000e+09,https://www.rumah.com/listing-properti/dijual-...,Dekat Cikini Salemba Taman Isamail Marzuki Kam...
1,02-12-2021,30.0,55.0,2.0,1.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,NaN,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...,"Mengusung konsep minimalis, dan didukung denga..."
2,06-12-2021,19.0,35.0,2.0,1.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,NaN,3.950000e+08,https://www.rumah.com/listing-properti/dijual-...,"Dekat dengan Mall Atrium Senen, dekat dengan a..."
3,06-12-2021,33.0,42.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,NaN,8.350000e+08,https://www.rumah.com/listing-properti/dijual-...,"Berlokasi sangat strategis, sangat dekat ke Tu..."
4,06-12-2021,30.0,55.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,NaN,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...,"Bisa request ubah tata ruang, beli 2 unit mend..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,22-11-2021,220.0,239.0,5.0,4.0,1.0,2.0,Jakarta Timur,PPJB,3500.0,NaN,3.850000e+09,https://www.rumah.com/listing-properti/dijual-...,Rumah Mewah siap huni 2 lantai 220m 10x22 type...
117,06-12-2021,70.0,57.0,3.0,2.0,NaN,2.0,Jakarta Timur,SHM,2200.0,NaN,8.800000e+08,https://www.rumah.com/listing-properti/dijual-...,Rumah Signature Location & Access :\n• 2 Menit...
118,06-12-2021,315.0,280.0,4.0,3.0,1.0,2.0,Jakarta Timur,SHM + IMB,3500.0,Timur,4.300000e+09,https://www.rumah.com/listing-properti/dijual-...,"Rumah 1, 5 Lantai Luas Strategis di Pondok Bam..."
119,06-12-2021,135.0,190.0,5.0,5.0,NaN,2.0,Jakarta Timur,SHM + IMB,2200.0,Selatan,3.400000e+09,https://www.rumah.com/listing-properti/dijual-...,Rumah Baru Non Komplek Posisi Hook Lokasi Stra...
120,06-12-2021,144.0,250.0,5.0,5.0,NaN,2.0,Jakarta Timur,SHM,3500.0,Timur,2.250000e+09,https://www.rumah.com/listing-properti/dijual-...,Rumah Modern Minimalis dengan 2 lantai di Jati...

In [29]:
jakarta.garasi = jakarta.garasi.fillna(value=0)
jakarta.carport = jakarta.carport.fillna(value=0)

In [30]:
jakarta.drop('sertifikat',axis=1,inplace=True)

In [31]:
jakarta.drop('hadap',axis=1,inplace=True)
jakarta

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga,URL,deskripsi
0,06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,2200.0,4.500000e+09,https://www.rumah.com/listing-properti/dijual-...,Dekat Cikini Salemba Taman Isamail Marzuki Kam...
1,02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...,"Mengusung konsep minimalis, dan didukung denga..."
2,06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,2200.0,3.950000e+08,https://www.rumah.com/listing-properti/dijual-...,"Dekat dengan Mall Atrium Senen, dekat dengan a..."
3,06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,8.350000e+08,https://www.rumah.com/listing-properti/dijual-...,"Berlokasi sangat strategis, sangat dekat ke Tu..."
4,06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...,"Bisa request ubah tata ruang, beli 2 unit mend..."
...,...,...,...,...,...,...,...,...,...,...,...,...
116,22-11-2021,220.0,239.0,5.0,4.0,1.0,2.0,Jakarta Timur,3500.0,3.850000e+09,https://www.rumah.com/listing-properti/dijual-...,Rumah Mewah siap huni 2 lantai 220m 10x22 type...
117,06-12-2021,70.0,57.0,3.0,2.0,0.0,2.0,Jakarta Timur,2200.0,8.800000e+08,https://www.rumah.com/listing-properti/dijual-...,Rumah Signature Location & Access :\n• 2 Menit...
118,06-12-2021,315.0,280.0,4.0,3.0,1.0,2.0,Jakarta Timur,3500.0,4.300000e+09,https://www.rumah.com/listing-properti/dijual-...,"Rumah 1, 5 Lantai Luas Strategis di Pondok Bam..."
119,06-12-2021,135.0,190.0,5.0,5.0,0.0,2.0,Jakarta Timur,2200.0,3.400000e+09,https://www.rumah.com/listing-properti/dijual-...,Rumah Baru Non Komplek Posisi Hook Lokasi Stra...
120,06-12-2021,144.0,250.0,5.0,5.0,0.0,2.0,Jakarta Timur,3500.0,2.250000e+09,https://www.rumah.com/listing-properti/dijual-...,Rumah Modern Minimalis dengan 2 lantai di Jati...

In [32]:
jakarta.listrik = jakarta.listrik.fillna(value=jakarta.listrik.mean())
print(jakarta.isnull().sum())

created_at    0
LT            0
LB            0
KT            0
KM            0
garasi        0
carport       0
lokasi        0
listrik       0
harga         0
URL           0
deskripsi     9
dtype: int64

In [33]:
jakarta.drop('deskripsi',axis=1,inplace=True)
jakarta

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga,URL
0,06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,2200.0,4.500000e+09,https://www.rumah.com/listing-properti/dijual-...
1,02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...
2,06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,2200.0,3.950000e+08,https://www.rumah.com/listing-properti/dijual-...
3,06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,8.350000e+08,https://www.rumah.com/listing-properti/dijual-...
4,06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...
...,...,...,...,...,...,...,...,...,...,...,...
116,22-11-2021,220.0,239.0,5.0,4.0,1.0,2.0,Jakarta Timur,3500.0,3.850000e+09,https://www.rumah.com/listing-properti/dijual-...
117,06-12-2021,70.0,57.0,3.0,2.0,0.0,2.0,Jakarta Timur,2200.0,8.800000e+08,https://www.rumah.com/listing-properti/dijual-...
118,06-12-2021,315.0,280.0,4.0,3.0,1.0,2.0,Jakarta Timur,3500.0,4.300000e+09,https://www.rumah.com/listing-properti/dijual-...
119,06-12-2021,135.0,190.0,5.0,5.0,0.0,2.0,Jakarta Timur,2200.0,3.400000e+09,https://www.rumah.com/listing-properti/dijual-...
120,06-12-2021,144.0,250.0,5.0,5.0,0.0,2.0,Jakarta Timur,3500.0,2.250000e+09,https://www.rumah.com/listing-properti/dijual-...

In [34]:
jakarta.drop('URL',axis=1,inplace=True)
jakarta

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
0,06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,2200.0,4.500000e+09
1,02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09
2,06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,2200.0,3.950000e+08
3,06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,8.350000e+08
4,06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09
...,...,...,...,...,...,...,...,...,...,...
116,22-11-2021,220.0,239.0,5.0,4.0,1.0,2.0,Jakarta Timur,3500.0,3.850000e+09
117,06-12-2021,70.0,57.0,3.0,2.0,0.0,2.0,Jakarta Timur,2200.0,8.800000e+08
118,06-12-2021,315.0,280.0,4.0,3.0,1.0,2.0,Jakarta Timur,3500.0,4.300000e+09
119,06-12-2021,135.0,190.0,5.0,5.0,0.0,2.0,Jakarta Timur,2200.0,3.400000e+09
120,06-12-2021,144.0,250.0,5.0,5.0,0.0,2.0,Jakarta Timur,3500.0,2.250000e+09

In [35]:
bogor

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,03-12-2021,75.0,38.0,2.0,1.0,1.0,1.0,Bojonggede,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06-12-2021,60.0,40.0,1.0,1.0,0.0,1.0,Babakan Madang,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06-12-2021,60.0,50.0,2.0,2.0,0.0,1.0,Babakan Madang,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06-12-2021,60.0,70.0,3.0,2.0,0.0,1.0,Babakan Madang,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06-12-2021,90.0,60.0,3.0,2.0,0.0,2.0,Babakan Madang,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
bogor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   193 non-null    object
 1   LT           193 non-null    float64
 2   LB           193 non-null    float64
 3   KT           193 non-null    float64
 4   KM           193 non-null    float64
 5   garasi       193 non-null    float64
 6   carport      193 non-null    float64
 7   lokasi       193 non-null    object
 8   sertifikat   193 non-null    object
 9   listrik      193 non-null    float64
 10  hadap        19 non-null     object
 11  harga        193 non-null    float64
 12  URL          193 non-null    object
 13  deskripsi    193 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 203.0+ KB

In [37]:
bogor = bogor.dropna(how='all')

In [38]:
 bogor = bogor.iloc[:, :14]

In [39]:
bogor = bogor.drop_duplicates()
bogor

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi
0,03-12-2021,75.0,38.0,2.0,1.0,1.0,1.0,Bojonggede,SHM,1300.0,Barat,6.925500e+08,https://rumahdijual.com/bekasi/10799791-rumah-...,"Dekat tol jati warna, dekat sutle busway, deka..."
1,06-12-2021,60.0,40.0,1.0,1.0,0.0,1.0,Babakan Madang,SHM,2200.0,NaN,8.114000e+08,https://www.rumah123.com/perumahan-baru/proper...,Destinasi menarik di kawasan Babakan Madang; G...
2,06-12-2021,60.0,50.0,2.0,2.0,0.0,1.0,Babakan Madang,SHM,2200.0,NaN,9.005000e+08,https://www.rumah123.com/perumahan-baru/proper...,Destinasi menarik di kawasan Babakan Madang; G...
3,06-12-2021,60.0,70.0,3.0,2.0,0.0,1.0,Babakan Madang,SHM,2200.0,NaN,1.001900e+09,https://www.rumah123.com/perumahan-baru/proper...,Destinasi menarik di kawasan Babakan Madang; G...
4,06-12-2021,90.0,60.0,3.0,2.0,0.0,2.0,Babakan Madang,SHM,2200.0,NaN,1.200800e+09,https://www.rumah123.com/perumahan-baru/proper...,Destinasi menarik di kawasan Babakan Madang; G...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,03-12-2021,90.0,36.0,2.0,1.0,0.0,1.0,Gunung Putri,SHM,1300.0,NaN,4.405500e+08,https://www.rumah.com/listing-properti/dijual-...,"Dekat taman buah mekarsari, dekat rumah sakit"
189,03-12-2021,107.0,31.0,2.0,1.0,0.0,1.0,Sukaraja,SHM,1300.0,NaN,4.086500e+08,https://www.rumah.com/listing-properti/dijual-...,Rumah siap huni
190,03-12-2021,210.0,150.0,4.0,2.0,1.0,1.0,Bogor Selatan,SHM,2200.0,NaN,1.200000e+09,https://www.rumah.com/listing-properti/dijual-...,Cuma 10 menit ke kota
191,03-12-2021,90.0,36.0,2.0,1.0,0.0,1.0,Cileungsi,SHM,1300.0,NaN,4.405500e+08,https://www.rumah.com/listing-properti/dijual-...,"Dekat rumah sakit, dekat pasar"
192,03-12-2021,72.0,90.0,3.0,2.0,1.0,1.0,Cibinong,SHM,2200.0,NaN,9.000000e+08,https://www.rumah.com/listing-properti/dijual-...,"Nyaman, aman, swimming pool"

In [40]:
bogor.garasi = bogor.garasi.fillna(value=0)
bogor.carport = bogor.carport.fillna(value=0)

In [41]:
bogor.listrik = bogor.listrik.fillna(value=bogor.listrik.mean())

In [42]:
bogor.drop('URL',axis=1,inplace=True)
bogor.drop('deskripsi',axis=1,inplace=True)
bogor

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga
0,03-12-2021,75.0,38.0,2.0,1.0,1.0,1.0,Bojonggede,SHM,1300.0,Barat,6.925500e+08
1,06-12-2021,60.0,40.0,1.0,1.0,0.0,1.0,Babakan Madang,SHM,2200.0,NaN,8.114000e+08
2,06-12-2021,60.0,50.0,2.0,2.0,0.0,1.0,Babakan Madang,SHM,2200.0,NaN,9.005000e+08
3,06-12-2021,60.0,70.0,3.0,2.0,0.0,1.0,Babakan Madang,SHM,2200.0,NaN,1.001900e+09
4,06-12-2021,90.0,60.0,3.0,2.0,0.0,2.0,Babakan Madang,SHM,2200.0,NaN,1.200800e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
188,03-12-2021,90.0,36.0,2.0,1.0,0.0,1.0,Gunung Putri,SHM,1300.0,NaN,4.405500e+08
189,03-12-2021,107.0,31.0,2.0,1.0,0.0,1.0,Sukaraja,SHM,1300.0,NaN,4.086500e+08
190,03-12-2021,210.0,150.0,4.0,2.0,1.0,1.0,Bogor Selatan,SHM,2200.0,NaN,1.200000e+09
191,03-12-2021,90.0,36.0,2.0,1.0,0.0,1.0,Cileungsi,SHM,1300.0,NaN,4.405500e+08
192,03-12-2021,72.0,90.0,3.0,2.0,1.0,1.0,Cibinong,SHM,2200.0,NaN,9.000000e+08

In [43]:
bogor.dropna()

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga
0,03-12-2021,75.0,38.0,2.0,1.0,1.0,1.0,Bojonggede,SHM,1300.0,Barat,6.925500e+08
7,06-12-2021,97.0,72.0,3.0,2.0,0.0,1.0,Cibinong,SHM,2200.0,Selatan,1.230000e+09
10,06-12-2021,312.0,70.0,4.0,2.0,1.0,1.0,Tanah Sareal,SHM,2200.0,Timur,2.500000e+08
12,06-12-2021,112.0,129.0,3.0,3.0,0.0,0.0,Gunung Putri,SHGB,3500.0,Selatan,1.800000e+09
13,06-12-2021,60.0,50.0,2.0,1.0,0.0,0.0,Babakan Madang,SHM,2200.0,Selatan,8.500000e+08
46,06-12-2021,167.0,300.0,4.0,3.0,2.0,0.0,Gunung Putri,SHM,5500.0,"Timur, Utara",3.200000e+09
50,06-12-2021,200.0,202.0,5.0,5.0,2.0,2.0,Gunung Putri,SHM,4400.0,"Selatan, Utara",3.128000e+09
52,06-12-2021,162.0,164.0,5.0,5.0,0.0,2.0,Gunung Putri,SHM,3500.0,Utara,2.536000e+09
57,07-12-2021,112.0,169.0,5.0,5.0,0.0,2.0,Gunung Putri,SHM,3500.0,Danau,2.128000e+09
64,07-12-2021,120.0,160.0,5.0,3.0,0.0,1.0,Cileungsi,SHM,2200.0,Barat,1.250000e+09
95,02-12-2021,72.0,65.0,2.0,1.0,0.0,1.0,Jonggol,SHGB,1300.0,Utara,3.250000e+08
96,02-12-2021,60.0,72.0,2.0,1.0,0.0,1.0,Jonggol,SHGB,1300.0,Timur,2.150000e+08
97,02-12-2021,60.0,72.0,2.0,1.0,0.0,1.0,Cileungsi,SHGB,1300.0,Timur,2.150000e+08
104,02-12-2021,106.0,54.0,3.0,2.0,0.0,2.0,Ciomas,SHGB,1300.0,Timur,9.090000e+08
105,02-12-2021,72.0,36.0,2.0,1.0,1.0,1.0,Bojonggede,SHGB,1300.0,Timur,4.000000e+08
106,02-12-2021,72.0,55.0,2.0,1.0,0.0,1.0,Cileungsi,SHGB,1300.0,Selatan,2.950000e+08
110,02-12-2021,62.0,45.0,2.0,1.0,1.0,1.0,Cibinong,SHM,1300.0,Utara,4.200000e+08
111,02-12-2021,698.0,350.0,4.0,4.0,2.0,2.0,Babakan Madang,SHM,5500.0,Selatan,6.850000e+09
112,02-12-2021,72.0,55.0,2.0,1.0,1.0,1.0,Cileungsi,SHGB,1300.0,Barat,2.950000e+08

In [46]:
bogor.drop('sertifikat',axis=1,inplace=True)
bogor.drop('hadap',axis=1,inplace=True)

In [47]:
bogor

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
0,03-12-2021,75.0,75.0,2.0,1.0,1.0,1.0,Bojonggede,1300.0,6.925500e+08
1,06-12-2021,60.0,60.0,1.0,1.0,0.0,1.0,Babakan Madang,2200.0,8.114000e+08
2,06-12-2021,60.0,60.0,2.0,2.0,0.0,1.0,Babakan Madang,2200.0,9.005000e+08
3,06-12-2021,60.0,60.0,3.0,2.0,0.0,1.0,Babakan Madang,2200.0,1.001900e+09
4,06-12-2021,90.0,90.0,3.0,2.0,0.0,2.0,Babakan Madang,2200.0,1.200800e+09
...,...,...,...,...,...,...,...,...,...,...
188,03-12-2021,90.0,90.0,2.0,1.0,0.0,1.0,Gunung Putri,1300.0,4.405500e+08
189,03-12-2021,107.0,107.0,2.0,1.0,0.0,1.0,Sukaraja,1300.0,4.086500e+08
190,03-12-2021,210.0,210.0,4.0,2.0,1.0,1.0,Bogor Selatan,2200.0,1.200000e+09
191,03-12-2021,90.0,90.0,2.0,1.0,0.0,1.0,Cileungsi,1300.0,4.405500e+08
192,03-12-2021,72.0,72.0,3.0,2.0,1.0,1.0,Cibinong,2200.0,9.000000e+08

In [48]:
jakarta

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
0,06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,2200.0,4.500000e+09
1,02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09
2,06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,2200.0,3.950000e+08
3,06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,8.350000e+08
4,06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09
...,...,...,...,...,...,...,...,...,...,...
116,22-11-2021,220.0,239.0,5.0,4.0,1.0,2.0,Jakarta Timur,3500.0,3.850000e+09
117,06-12-2021,70.0,57.0,3.0,2.0,0.0,2.0,Jakarta Timur,2200.0,8.800000e+08
118,06-12-2021,315.0,280.0,4.0,3.0,1.0,2.0,Jakarta Timur,3500.0,4.300000e+09
119,06-12-2021,135.0,190.0,5.0,5.0,0.0,2.0,Jakarta Timur,2200.0,3.400000e+09
120,06-12-2021,144.0,250.0,5.0,5.0,0.0,2.0,Jakarta Timur,3500.0,2.250000e+09

In [49]:
bekasi

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
0,08-12-2021,71.0,43.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,1300.000000,5.500000e+08
1,08-12-2021,59.0,60.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,4.400000e+08
2,08-12-2021,124.0,95.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2056.435644,6.990000e+08
3,08-12-2021,144.0,100.0,2.0,1.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.350000e+09
4,08-12-2021,108.0,100.0,3.0,2.0,0.0,1.0,Kabupaten Bekasi,2200.000000,1.400000e+09
...,...,...,...,...,...,...,...,...,...,...
102,01-12-2021,180.0,220.0,5.0,3.0,0.0,0.0,Kota Bekasi,2200.000000,1.600000e+09
103,01-12-2021,140.0,250.0,3.0,2.0,0.0,0.0,Kabupaten Bekasi,2200.000000,8.500000e+08
104,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08
105,01-12-2021,36.0,60.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,3.000000e+08
106,01-12-2021,60.0,55.0,2.0,1.0,0.0,0.0,Kabupaten Bekasi,1300.000000,2.500000e+08

In [51]:
databaru = pd.concat([jakarta,bekasi,bogor])
databaru

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
0,06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,2200.0,4.500000e+09
1,02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09
2,06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,2200.0,3.950000e+08
3,06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,8.350000e+08
4,06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,2200.0,1.100000e+09
...,...,...,...,...,...,...,...,...,...,...
188,03-12-2021,90.0,90.0,2.0,1.0,0.0,1.0,Gunung Putri,1300.0,4.405500e+08
189,03-12-2021,107.0,107.0,2.0,1.0,0.0,1.0,Sukaraja,1300.0,4.086500e+08
190,03-12-2021,210.0,210.0,4.0,2.0,1.0,1.0,Bogor Selatan,2200.0,1.200000e+09
191,03-12-2021,90.0,90.0,2.0,1.0,0.0,1.0,Cileungsi,1300.0,4.405500e+08
192,03-12-2021,72.0,72.0,3.0,2.0,1.0,1.0,Cibinong,2200.0,9.000000e+08

# 1.berdasarkan data diatas kualitas data kurang baik karena banyak variabel yang cenderung tidak bermanfaat

In [52]:
databaru.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 192
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  421 non-null    object
 1   LT          421 non-null    float64
 2   LB          421 non-null    float64
 3   KT          421 non-null    float64
 4   KM          421 non-null    float64
 5   garasi      421 non-null    float64
 6   carport     421 non-null    float64
 7   lokasi      421 non-null    object
 8   listrik     421 non-null    float64
 9   harga       421 non-null    float64
dtypes: float64(8), object(2)
memory usage: 36.2+ KB

In [54]:
print(databaru.isnull().sum())

created_at    0
LT            0
LB            0
KT            0
KM            0
garasi        0
carport       0
lokasi        0
listrik       0
harga         0
dtype: int64

In [59]:
jakarta['harga'].mean()

8985954975.644629

In [60]:
bekasi['harga'].mean()

1074823355.140187

In [61]:
bogor['harga'].mean()

1289361525.1865284

# 3.dari statistik yang ditunjukkan ada kecenderungan bahwa harga rumah di kota Jakarta lebih mahal dibandingkan dengan bogor dan bekasi

In [62]:
databaru.groupby('created_at').count()

             LT   LB   KT   KM  garasi  carport  lokasi  listrik  harga
created_at
01-12-2021   33   33   33   33      33       33      33       33     33
02-12-2021   36   36   36   36      36       36      36       36     36
03-12-2021   40   40   40   40      40       40      40       40     40
04-12-2021   43   43   43   43      43       43      43       43     43
05-12-2021   47   47   47   47      47       47      47       47     47
06-10-2021    3    3    3    3       3        3       3        3      3
06-11-2021    7    7    7    7       7        7       7        7      7
06-12-2021  123  123  123  123     123      123     123      123    123
07-11-2021    2    2    2    2       2        2       2        2      2
07-12-2021   56   56   56   56      56       56      56       56     56
08-12-2021    7    7    7    7       7        7       7        7      7
12-02-2021    1    1    1    1       1        1       1        1      1
15-11-2021    3    3    3    3       3        3       3        3      3
16-11-2021    1    1    1    1       1        1       1        1      1
18-11-2021    2    2    2    2       2        2       2        2      2
22-11-2021    7    7    7    7       7        7       7        7      7
24-11-2021    1    1    1    1       1        1       1        1      1
25-11-2021    2    2    2    2       2        2       2        2      2
26-12-2021    1    1    1    1       1        1       1        1      1
29-11-2021    6    6    6    6       6        6       6        6      6

In [64]:
databaru.describe(include= 'all')

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,listrik,harga
count,421,421.000000,421.000000,421.000000,421.000000,421.000000,421.000000,421,421.000000,4.210000e+02
unique,20,NaN,NaN,NaN,NaN,NaN,NaN,34,NaN,NaN
top,06-12-2021,NaN,NaN,NaN,NaN,NaN,NaN,Kota Bekasi,NaN,NaN
freq,123,NaN,NaN,NaN,NaN,NaN,NaN,73,NaN,NaN
mean,NaN,164.636580,174.268409,3.216152,2.289652,0.351544,1.228029,NaN,3033.642788,3.446920e+09
std,NaN,243.750982,214.438384,1.525443,1.459519,0.833769,1.084643,NaN,4614.904942,9.306727e+09
min,NaN,16.000000,21.000000,1.000000,1.000000,0.000000,0.000000,NaN,900.000000,6.500000e+07
25%,NaN,70.000000,66.000000,2.000000,1.000000,0.000000,1.000000,NaN,1300.000000,5.000000e+08
50%,NaN,91.000000,98.000000,3.000000,2.000000,0.000000,1.000000,NaN,2200.000000,9.500000e+08
75%,NaN,156.000000,198.000000,4.000000,3.000000,0.000000,1.000000,NaN,2200.000000,2.300000e+09
max,NaN,3422.000000,2000.000000,10.000000,10.000000,8.000000,10.000000,NaN,66000.000000,1.050000e+11

In [56]:
databaru.groupby('listrik').count()

              created_at   LT   LB   KT   KM  garasi  carport  lokasi  harga
listrik
900.000000             7    7    7    7    7       7        7       7      7
1300.000000          145  145  145  145  145     145      145     145    145
2056.435644            6    6    6    6    6       6        6       6      6
2200.000000          162  162  162  162  162     162      162     162    162
3300.000000            3    3    3    3    3       3        3       3      3
3500.000000           32   32   32   32   32      32       32      32     32
4400.000000           20   20   20   20   20      20       20      20     20
4500.000000            1    1    1    1    1       1        1       1      1
5425.000000            1    1    1    1    1       1        1       1      1
5500.000000           20   20   20   20   20      20       20      20     20
6600.000000            4    4    4    4    4       4        4       4      4
7700.000000            4    4    4    4    4       4        4       4      4
8000.000000            1    1    1    1    1       1        1       1      1
9500.000000            1    1    1    1    1       1        1       1      1
9900.000000            1    1    1    1    1       1        1       1      1
11000.000000           3    3    3    3    3       3        3       3      3
13000.000000           1    1    1    1    1       1        1       1      1
13200.000000           1    1    1    1    1       1        1       1      1
17600.000000           1    1    1    1    1       1        1       1      1
18000.000000           1    1    1    1    1       1        1       1      1
23000.000000           2    2    2    2    2       2        2       2      2
26400.000000           1    1    1    1    1       1        1       1      1
33000.000000           2    2    2    2    2       2        2       2      2
66000.000000           1    1    1    1    1       1        1       1      1

# 4.berdasarkan data diatasrumah dengan karakteristik listrik dengan daya 2200 volt diminati paling banyak dijual